@import '../../styles/imports.less';

.menu {
  .ai(fs);
  .bgc(@orange);
  .bdr(50%,50%,50%,50%);
  .dis(f);
  .h(25px);
  .jc(fs);
  .pos(f,50%,auto,auto,50%);
  transform: translate(-50%,-50%);
  .w(25px);
  z-index: -1;

  .links {
    .font(@arya,6rem,6rem,400);

    li {
      .m(b,6rem);

      a {
        color: @black;
        .td(none);

        &.active {
          color: @white;
        }
      }
    }
  }

  &.open {
    .bdr(0,0,0,0);
    .h(100%);
    top: 0;
    left: 0;
    .pad(220px,5%,0,5%);
    transform: translate(0,0);
    .w(90%);
    z-index: 1000;
  }
}
