//  Colors
    @black:         #000;
    @white:         #fff;

    @blue_1:        #01111B;
    @blue_2:        #001521;
    @blue_3:        #001C2C;
    @blue_4:        #DDFFFD;

    @orange:        #FF5C00;
    @pink:          #FFDDFE;

    @copyFooter:    #AFC7D4;

// ------------------------------------------------------------------------------------------

// Fonts
    @arya:          'Arya';
    @anon:          'Anonymous Pro';
    @teko:          'Teko';